body  {
margin: 10px 80px;
font-size: 20px; 
}

h2 {
color: #3b7687;
}

.date {
font-weight: normal;
font-size: smaller;
text-align: right;
}

dl dt {
font-weight: bold;
}

pre {
padding: 10pt;
background: #eee;
}
